.content {
  display: grid;
  grid-template-columns: 26.75rem 1fr;
  gap: 1.5rem;
}

.summary {
  background-color: white;
  border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  gap: 3rem;
}

.chart {
  padding: 1rem;
}

@media (max-width: 1200px) {
  .content {
    grid-template-columns: 1fr;
  }

  .summary {
    flex-direction: row;
    gap: 0;
  }

  .chart {
    padding: 1rem 3rem 1rem 1rem;
  }
}

@media (max-width: 768px) {
  .summary {
    flex-direction: column;
  }

  .chart {
    padding: 0 0 1rem 0;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
