.content {
  background-color: white;
  border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  min-width: 392px;
}

.layout,
div .layout {
  display: grid;
  grid-template-columns: 1fr 7.5rem 7.5rem 12.5rem;
  gap: 2rem;
  align-items: center;
}

.transaction-headers {
  height: 2.625rem;
  padding: 0.75rem 1rem;
}

.transaction-list {
  padding: 0 1rem;
}

@media (max-width: 943px) {
  .layout,
  div .layout {
    display: none;
  }
}
