.filters {
  display: grid;
  grid-template-columns: 1fr 10.625rem 15.3125rem;
  gap: 1.5rem;
  align-items: center;
}

@media (max-width: 816px) {
  .filters {
    grid-template-columns: 1fr 3rem 3rem;
    gap: 0;
  }
}
