.transaction-row {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}

.transaction-name {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.transaction-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
}

.date {
  color: #888888;
}

.avatar {
  border-radius: 100%;
}

.layout,
div .layout {
  display: grid;
  grid-template-columns: 1fr 7.5rem 7.5rem 12.5rem;
  gap: 2rem;
  align-items: center;
}
