.sidebar {
  height: 100vh;
  background-color: #201f24;
  position: fixed;
  border-top-right-radius: 1rem;
}

.sidebar--open {
  width: 18.75rem;
}

.sidebar--closed {
  width: 5.5rem;
}

.logo {
  margin-bottom: 2rem;
  height: 6rem;
}

.logo--open {
  padding: 2.5rem 2.5rem;
}

.logo--closed {
  padding: 2.5rem 2rem;
}

.logo-large {
  position: absolute;
  left: 2.4rem;
}

.logo-small {
  position: absolute;
  left: 2.0625rem;
  top: 2.5625rem;
  transition: all 0.8s ease-in-out;
}

.logo-hidden {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.logo-visible {
  transition: all 0.8s ease-in-out;
}

.nav {
  height: calc(100vh - 8.625rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.minimize {
  margin-bottom: 3.5rem;
}

.minimize--closed {
  transform: rotate(180deg);
}

.btn {
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  height: 3.5rem;
  border-radius: 0 0.75rem 0.75rem 0;
  position: relative;
}

.sidebar--open .nav nav .btn,
.sidebar--open .minimize .btn {
  width: 17.25rem;
}

.sidebar--closed .nav nav .btn,
.sidebar--closed .minimize .btn {
  width: 5rem;
  padding: 0 0 0 2rem;
}

.btn--active::before {
  content: '';
  background-color: #277c78;
  width: 5px;
  height: 3.5rem;
  position: absolute;
  left: 0;
}

button .icon,
button .name {
  color: #b3b3b3;
  fill: #b3b3b3;
}

.btn--active {
  background-color: white;
}

.btn--active .icon {
  fill: #277c78;
}

.btn--active .name {
  color: #201f24;
}

.btn--inactive:hover .icon,
.btn--inactive:hover .name {
  color: white;
  fill: white;
}

button .name {
  font-weight: 500;
  justify-self: start;
  position: absolute;
  /* width: 100%; */
  left: 4.5rem;
  white-space: nowrap;
}

.name-hidden {
  opacity: 0;
  pointer-events: none;
  transition:
    all 0.3s ease-in-out,
    opacity 0.2s ease-in-out;
}

.name-visible {
  opacity: 100;
  pointer-events: all;
  transition:
    all 0.3s ease-in-out,
    opacity 0.8s ease-in-out;
}
