.div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filters {
  display: flex;
  justify-content: space-between;
}

div .headers {
  padding: 0.75rem 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7.5rem 6.25rem;
}

@media (max-width: 750px) {
  div .headers {
    grid-template-columns: 1fr 6.25rem;
  }
}

.headers-amount {
  justify-self: end;
}

.bills-list {
  display: flex;
  flex-direction: column;
}
