.content {
  display: grid;
  grid-template-columns: 21.0625rem 1fr;
  gap: 1.5rem;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.bills {
  width: 100%;
  min-width: 34.8125rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
}

@media (max-width: 1000px) {
  .content {
    grid-template-columns: 1fr;
  }

  .summary {
    flex-direction: row;
  }

  .bills {
    min-width: 0;
  }
}

@media (max-width: 670px) {
  .summary {
    flex-direction: column;
  }
}
