.bills {
  background-color: white;
  height: 21.8rem;
  padding: 2rem;
  border-radius: 0.75rem;
}

.bill-rows {
  margin-top: 2rem;
}

.row {
  position: relative;
  height: 3.8125rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.color {
  position: absolute;
  width: 100px;
  border-radius: 0.7rem;
  height: 98%;
}

.content {
  background-color: #f8f4f0;
  width: 99%;
  height: 100%;
  transform: translateX(4px);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1rem;
}

.title {
  color: #888888;
}
