.budgets {
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.content {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 6.3125rem;
  align-items: center;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 1rem;
}

.budget {
  display: flex;
  height: 2.6875rem;
}

.budget-text {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}

.budget-color {
  width: 0.25rem;
  height: 100%;
  border-radius: 0.5rem;
}
.budget-title span {
  color: #888888;
}

.budget-value span {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .chart {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
  }

  /* .budget {
    margin-left: 28%;
  } */
}
