.budgets {
  background-color: white;
  height: 25.625rem;
  padding: 2rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.content {
  margin-top: 1.25rem;
  height: 18.875rem;
  display: grid;
  grid-template-columns: 1fr 6.3125rem;
  align-items: center;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 1rem;
}

.budget {
  display: flex;
  height: 2.6875rem;
}

.budget-text {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}

.budget-color {
  width: 0.25rem;
  height: 100%;
  border-radius: 0.5rem;
}
.budget-title span {
  color: #888888;
}

.budget-value span {
  font-weight: 700;
}
