.pots {
  background-color: white;
  height: 13.625rem;
  border-radius: 0.75rem;
  padding: 2rem;
}

.pots-summary {
  display: flex;
  margin-top: 1.25rem;
  gap: 1.25rem;
}

.pots-total {
  background-color: #f8f4f0;
  height: 6.875rem;
  padding: 1rem;
  border-radius: 0.75rem;
  flex: 47;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pots-total-txt {
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
}

.pots-total-txt h4 {
  color: #696868;
}

.pots-detail {
  flex: 53;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.pot {
  display: flex;
  height: 2.6875rem;
}

.pot-text {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}

.pot-color {
  width: 0.25rem;
  height: 100%;
  border-radius: 0.5rem;
}
.pot-title h5 {
  color: #696868;
}

.pot-value h5 {
  font-weight: 700;
}
