.summary {
  height: 7.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  flex-grow: 1;
}

.summary-title {
  margin-bottom: 0.75rem;
}

.dark {
  background-color: #201f24;
  color: white;
}

.light {
  background-color: white;
}

.light span:first-child {
  color: #888888;
}

/* div required to increase selector specificity, otherwise text will be black when switching back to overview tab */
div .value-light {
  color: white;
}
