@font-face {
  font-family: 'PublicSans';
  src: url('../public/fonts/PublicSans-VariableFont_wght.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

body {
  background-color: #f8f4f0;
  font-family: 'PublicSans', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

/******************************/
/* GENRAL REUSABLE CLASSES */
/******************************/

.grid {
  display: grid;
  gap: 1.5rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.text-1 {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 300;
}

.text-2 {
  font-size: 1.25rem;
  line-height: 120%;
  font-weight: 300;
}

.text-3 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
}

.text-4 {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 300;
}

.text-5 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

/* If you put font weight here, .bold will not override it */
.text-1,
.text-2,
.text-3,
.text-4,
.text-5 {
  letter-spacing: 0px;
  color: #201f24;
  display: block;
}

.green {
  color: #277c78;
}

.gray {
  color: #888888;
}

.dark-gray {
  color: #696868;
}

.white {
  color: white;
}

.red {
  color: #c94736;
}

.green-bg {
  background-color: #277c78;
}

.yellow-bg {
  background-color: #f2cdac;
}

.cyan-bg {
  background-color: #82c9d7;
}

.mrg-btm-sm {
  margin-bottom: 1.25rem;
}

.mrg-btm-1 {
  margin-bottom: 1rem;
}

.pd-top-tiny {
  padding-top: 0.75rem;
}

.pd-top-sm {
  padding-top: 1rem;
}

.pd-btm-tiny {
  padding-bottom: 0.75rem;
}

.pd-btm-sm {
  padding-bottom: 1rem;
}

.pd-btm-md {
  padding-bottom: 1.25rem;
}

/******************************/
/* GENRAL CLASSES */
/******************************/
.container--sidebar-open {
  padding: 2.5rem 2.5rem 2.5rem 21.25rem;
}

.container--sidebar-closed {
  padding: 2.5rem 2.5rem 2.5rem 8rem;
}

.content {
  min-width: 65.75rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.summaries {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  min-width: 65.75rem;
}

.divider {
  background-color: #f2f2f2;
  height: 1px;
}

.grid-overview {
  grid-template-columns: 38rem 1fr;
}

.grid-transaction-columns,
div .grid-transaction-columns {
  display: grid;
  grid-template-columns: 1fr 7.5rem 7.5rem 12.5rem;
  gap: 2rem;
  align-items: center;
}

.transaction-amount {
  justify-self: end;
}

.btn-add {
  background-color: #201f24;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.btn-add:hover {
  background-color: #696868;
}
